<div class="row">
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Envio de arquivo de leitura de aceleração</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form" #formulario="ngForm" novalidate>
        <div class="box-body">
          <div class="form-group">
            <label>Selecione um Acelerometro</label>
            <div class="ng-autocomplete">
              <ng-autocomplete
              [data]="dataAcelerometro"
              [searchKeyword]="keyword"
              (selected)='selectEventAcelerometro($event)'
              (inputCleared)="limpaAcelerometro()"
              (inputChanged)='onChangeSearchAcelerometro($event)'
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
              name="acelerometro">

            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>

        <div class="form-group">
          <label>Selecione um Bloco</label>
          <div class="ng-autocomplete">
            <ng-autocomplete
            [data]="dataBloco"
            [searchKeyword]="keyword"
            (selected)='selectEventBloco($event)'
            (inputChanged)='onChangeSearchBloco($event)'
            [itemTemplate]="itemBloco"
            [notFoundTemplate]="notFoundBloco"
            (inputCleared)="limpaBloco()"
            name="bloco">
          </ng-autocomplete>

          <ng-template #itemBloco let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundBloco let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>


      <div class="form-group">
        <label>Data hora do início da leitura (aaaa-mm-dd hh:mm:ss):</label>

        <input type="text" name="sasd" [(ngModel)]="envio.dataHoraInicio" class="form-control pull-right" >

      </div>


      <div class="form-group">
        <label for="exampleInputFile">Selecionar Arquivo</label>
        <input type="file" (change)="enviarArquivo($event)" id="exampleInputFile">
        <p *ngIf="envio.arquivo == null" class="help-block">Nenhum arquivo selecinado</p>
        <p *ngIf="envio.arquivo != null" class="help-block">Arquivo selecionado: {{envio.arquivo.name}} {{(envio.arquivo.size / 1024)}}Kb</p>
      </div>

    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" [disabled]="formularioInvalido()" (click)="enviaArquivo()" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
</div>
</div>
