<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Método FDD
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> FDD</a></li>
      <li class="active">Arquivos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="input-group input-group-sm">
            <span class="input-group-btn">
              <button (click)="adicionar()" type="button" class="btn btn-info btn-flat">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                Adicionar</button>
            </span>
                <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Buscar</button>
                    </span>
              </div>

          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Descrição</th>
                <th>Data Início</th>
                <th>Frequencia</th>
                <th>Ação</th>
              </tr>

              <tr *ngFor="let arquivo of dados">
                <td>{{arquivo.id}}</td>
                <td>{{arquivo.codigo}}</td>
                <td>{{arquivo.descricao}}</td>
                <td>{{arquivo.dataInicio | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                <td>{{arquivo.frequencia}}Hz</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" style="margin-left:5px "
                    (click)="visualizar(arquivo)">
                    <span class="glyphicon glyphicon-eye-open"></span>
                  </button>

                  <button type="button" class="btn btn-info btn-sm" style="margin-left:5px "
                    (click)="editar(arquivo)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>

                  <button type="button" class="btn btn-danger btn-sm" style="margin-left:5px "
                    mwlConfirmationPopover
                    [popoverTitle]="'Confirmação de Remoção'"
                    [popoverMessage]="'Tem Certeza que deseja remover este arquivo?'"
                    placement="left"
                    (confirm)="excluir(arquivo)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>

            </table>
            </div>

            <!-- MAP & BOX PANE -->
          <div class="box box-success" *ngIf="arquivoVisualizar != null">
            <div class="box-header with-border">
              <h3 class="box-title">Visualização de grafico FDD</h3>
            </div>
            <!-- /.box-header -->
            MATRIZ: {{matriz}}
            <div class="box-body no-padding">
              <div class="row">
                <div class="col-md-12 col-sm-12">
              <form role="form">
                 <div class="row">
                   <div class="col col-md-6">
                     <div class="form-group">
                       <label>Canais a analisar (máximo: {{arquivoVisualizar.canais}})</label>
                       <input name="graus" [(ngModel)]="arquivoVisualizar.analisar"  type="number" [max]="arquivoVisualizar.canais"
                        class="form-control" placeholder="Canais a analisar">
                     </div>
                   </div>
                   <div class="col col-md-3">
                     <div class="form-group">
                       <label>Fourier</label>
                       <input name="fourier" [(ngModel)]="arquivoVisualizar.fourier" type="text" class="form-control" placeholder="Fourier">
                     </div>
                   </div>
                   <div class="col col-md-3">
                     <button class="btn btn-block btn-primary" (click)="buscarDadosGrafico()">Apresentar Grafico</button>
                   </div>
                 </div>

               </form>


                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <google-chart width="800"
                        [title]="chart_title"
                        [type]="chart_type"
                        [data]="dadosGrafico"
                        [columnNames]="chart_columnNames"
                        [roles]="chart_roles"
                        [options]="chart_options"
                        (ready)="onReady()"
                        (select)="onSelect($event)"
                        (error)="onError($event)"
                        (mouseenter)="onMouseEnter($event)"
                        (mouseleave)="onMouseLeave($event)">
                      </google-chart>

                    {{dadosGrafico | json}}
                    </div>
                  </div>

                  </div>
                </div>


        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
