<div class="login-box">
  <div class="login-logo">

  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Login</p>

    <form [formGroup]="loginForm">
      <app-input label="Login" [showTip]=false errorMessage="Preenchimento Obrigatório">
        <input type="login" formControlName="login" class="form-control" placeholder="Login">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </app-input>
      <app-input label="Senha" [showTip]=false errorMessage="Preenchimento Obrigatório">
        <input type="password" formControlName="password" class="form-control" placeholder="Senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </app-input>
      <div class="row">
        <!-- <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div> -->
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" (click)="login()"  [disabled]='loginForm.invalid' class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!--
    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a> -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
